// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCmhuZ2lYc5R-D6R50CEHzVYvW8FfSvXIA",
  authDomain: "honestinvoice.firebaseapp.com",
  projectId: "honestinvoice",
  storageBucket: "honestinvoice.firebasestorage.app",
  messagingSenderId: "178273808417",
  appId: "1:178273808417:web:22107f88dd5a600ab6b360",
  measurementId: "G-L2LKET70TW"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);